@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(500px, 100vw) !important;
    max-width: min(500px, 100vw) !important;
    min-height: 100vh;
    background-color: #eee;
}

.search {
    width: 90%;
    margin: 20px 0;
}

.user-info {
    width: 60%;
    margin: 20px 0;
    display: flex;
    justify-items: center;
}

.text-info {
    display: flex;
    flex-direction: column;
}
.data-table {
    width: 90%;
    margin: 20px 0;
}